@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  color: #2f2e2d;
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

button:focus {
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/*Обнуление конец*/
.container {
  width: 1920px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  background: #fff;
}

.logo {
  padding: 50px 75px;
  border: 1px solid #e5e5e5;
}

.nav__wrapper {
  display: flex;
  height: 50%;
}

.nav {
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-left: none;
}

.nav-links {
  display: flex;
  padding-right: 100px;
}
.nav-links a {
  color: #2f2e2d;
  transition: 0.4s all ease;
}
.nav-links a:hover {
  color: #1c8a43;
}
.nav-links li {
  margin-left: 80px;
}
.nav-links li:first-child {
  margin-left: 40px;
}

.languages {
  display: flex;
  align-items: center;
  padding: 0px 50px;
  border: 1px solid #e5e5e5;
  border-left: none;
}
.languages button {
  text-transform: uppercase;
  background: transparent;
  font-weight: 600;
}

.lang {
  margin-left: 35px;
}
.lang:first-child {
  margin-left: 0;
}

.lang.active button {
  color: #1c8a43;
}

.tel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  padding: 0 104px;
  border: 1px solid #e5e5e5;
  border-left: none;
}
.tel a {
  font-size: 18px;
  color: #1c8a43;
  font-weight: 600;
}

.info-wrapper {
  height: 50%;
  display: flex;
}

.contacts {
  display: flex;
  padding: 0 38px;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-left: none;
  border-top: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.contacts::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: #1c8a43;
  transform: translateY(110%);
  transition: 0.4s all ease;
}
.contacts:hover:before {
  transform: translateY(0);
}
.contacts:hover p {
  color: #fff;
}
.contacts p {
  margin-left: 15px;
  position: relative;
  z-index: 1;
  transition: 0.4s all ease;
}
.contacts img {
  position: relative;
  z-index: 1;
}

.products {
  color: #1c8a43;
  font-weight: 500;
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-left: none;
  border-top: none;
  padding: 0 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.products::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: #1c8a43;
  transform: translateY(110%);
  transition: 0.4s all ease;
}
.products:hover:before {
  transform: translateY(0);
}
.products:hover p {
  color: #fff;
}
.products p {
  margin-left: 15px;
  z-index: 1;
  transition: 0.4s all ease;
}

.search {
  border: 1px solid #e5e5e5;
  border-left: none;
  border-top: none;
  width: 753px;
  display: flex;
  justify-content: space-between;
}

.row-search {
  padding: 30px 35px;
  height: 100%;
  width: 100%;
}

.search-btn {
  width: 100px;
  height: 100%;
  background: #f9f9f9;
}

.email {
  padding: 0 151px;
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-left: none;
  border-top: none;
}
.email a {
  font-weight: 600;
  color: #2f2e2d;
}

.search-btn__wrapper-mob {
  display: none;
}

.email-mobile {
  display: none;
}

@media screen and (max-width: 1919px) {
  .container {
    width: 1720px;
  }

  .logo {
    padding: 50px 50px;
    border: 1px solid #e5e5e5;
  }

  .tel {
    padding: 0 50px;
  }

  .email {
    padding: 0 74px;
  }

  .nav-links {
    padding-right: 50px;
  }
}
@media screen and (max-width: 1750px) {
  .container {
    width: 1450px;
  }

  .nav-links li {
    margin-left: 30px;
  }
  .nav-links li:first-child {
    margin-left: 20px;
  }

  .search {
    width: 500px;
  }

  .tel {
    padding: 0 54px;
  }
}
@media screen and (max-width: 1500px) {
  .container {
    width: 1200px;
  }

  .languages {
    padding: 0px 20px;
  }

  .lang {
    margin-left: 15px;
  }

  .tel {
    padding: 0 15px;
  }

  .tel a {
    color: #1c8a43;
    font-size: 15px;
    padding: 0 2.5px;
  }

  .search {
    width: 414px;
  }

  .logo {
    padding: 50px 50px;
  }
  .logo img {
    width: 130px;
  }

  .row-search {
    padding: 10px 35px;
  }

  .email {
    padding: 0 10px;
  }
}
@media screen and (max-width: 1201px) {
  .container {
    width: 100%;
  }

  .email {
    display: none;
  }

  .search {
    display: none;
  }

  .logo {
    width: 80%;
    padding: 5px 0;
    padding-left: 30px;
    padding-right: 150px;
  }
  .logo img {
    width: 150px;
  }

  .header__wrapper {
    position: absolute;
    background: #fff;
    width: 100%;
    transform: translateY(-100%);
    transition: 0.4s all ease;
    z-index: -1;
  }

  .nav__wrapper {
    flex-direction: column;
  }

  .languages {
    order: -1;
    justify-content: center;
    padding: 10px 0;
  }
  .languages button {
    font-size: 16px;
  }

  .tel {
    order: -1;
    padding: 10px 0;
  }

  .nav {
    border: none;
  }

  .nav-links {
    padding-top: 20px;
    flex-direction: column;
  }
  .nav-links li {
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .nav-links li:first-child {
    margin-left: 20px;
  }
  .nav-links a {
    font-size: 16px;
  }

  .header__container {
    justify-content: space-between;
  }

  .search-btn__wrapper-mob {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e5e5e5;
  }

  .burger {
    width: 10%;
    height: 60px;
    border: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .line__burger {
    width: 35px;
    height: 2px;
    background: #000;
    position: relative;
    transition: 0.4s all ease;
  }
  .line__burger::before {
    width: 35px;
    height: 2px;
    position: absolute;
    content: "";
    top: 10px;
    height: 100%;
    background: #000;
    transition: 0.4s all ease;
    transform-origin: left;
  }
  .line__burger::after {
    width: 35px;
    height: 2px;
    position: absolute;
    content: "";
    bottom: 10px;
    height: 100%;
    background: #000;
    transform-origin: left;
    transition: 0.4s all ease;
  }

  .email-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    order: -1;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
  }
  .email-mobile a {
    color: #1c8a43;
    font-weight: 600;
  }

  .info-wrapper {
    height: auto;
    display: flex;
    justify-content: center;
  }

  .contacts {
    display: flex;
    padding: 0 20px;
    align-items: center;
    border: none;
    border-right: 1px solid #e5e5e5;
  }
  .contacts p {
    font-size: 16px;
  }

  .products {
    padding: 0 20px;
    border: none;
  }
  .products p {
    font-size: 16px;
  }

  .active-burger .line__burger {
    background: transparent;
  }
  .active-burger .line__burger::before {
    transform: rotate(-36deg);
  }
  .active-burger .line__burger::after {
    transform: rotate(36deg);
  }

  .header__wrapper.active-menu {
    transform: translateY(60px);
  }
}
@media screen and (max-width: 600px) {
  .search-btn__wrapper-mob {
    width: 20%;
  }

  .burger {
    width: 20%;
  }

  .logo {
    padding: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
}